<ion-view view-title="Login">
    <form method="post" name="loginForm" novalidate>
        <ion-content>

            <!--Header messages -->
            <div ng-include="'templates/common/headerMessages.html'"></div>

            <div class="list">

                <!----- Username --->
                <label class="item item-input">
                    <input placeholder="Username" type="text" name="username"
                           ng-model="user.username" required>
                </label>

                <div class="error-container last-error-container"
                     ng-show="loginForm.submitted && loginForm.password.$error"
                     ng-messages="loginForm.username.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>


                <!----- Password --->
                <label class="item item-input">
                    <input placeholder="Password" type="password" name="password"
                           ng-model="user.password" required>
                </label>

                <div class="error-container last-error-container"
                     ng-show="loginForm.submitted && loginForm.password.$error"
                     ng-messages="loginForm.password.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <!----- Submit button --->
                <div class="padding">
                    <button type="submit" ng-click="saveLoginForm(user)"
                            class="button button-block button-positive activated">Login
                    </button>
                </div>
            </div>

        </ion-content>
    </form>
</ion-view>