<ion-view view-title="New track">
    <form name="trackForm" on-change-clear-server-error enctype="multipart/form-data" novalidate>

        <!----- Common navbar --->
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content>

            <!---- Header messages ---->
            <div ng-include="'templates/common/headerMessages.html'"></div>

            <div class="list">

                <!---- Title ----->
                <label class="item item-input">
                    <input type="text" name="title" ng-model="newTrack.title" class="form-control" placeholder="Title"
                           minlength="4" required>
                </label>

                <div class="error-container last-error-container"
                     ng-show="trackForm.submitted && trackForm.title.$error"
                     ng-messages="trackForm.title.$error">
                    <div class="error" ng-message="minlength">
                        <i class="ion-information-circled"></i>
                        Minimum length of this field is 4 characters!
                    </div>
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <div class="error-container last-error-container" ng-show="errors.title">
                    <div class="error">
                        <i class="ion-information-circled"></i>
                        {{ errors.title[0] }}
                    </div>
                </div>


                <!---- File ----->
                <label class="item item-input">
                    <label class="button button-small button-positive custom-file-upload">
                        <input class="form-control" name="file" type="file" check-size="100" ng-model="file"
                               on-change-update-name
                               on-change-update-file-model="newTrack.file" required>
                        <span ng-if="!newTrack.file">Choose file</span>
                        <span ng-if="newTrack.file">{{newTrack.file.name}}</span>
                    </label>
                </label>

                <div class="error-container last-error-container"
                     ng-show="trackForm.submitted && trackForm.file.$error"
                     ng-messages="trackForm.file.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <div class="error-container last-error-container" ng-show="errors.file">
                    <div class="error">
                        <i class="ion-information-circled"></i>
                        {{ errors.file[0] }}
                    </div>
                </div>

                <!---- Image ----->
                <label class="item item-input">
                    <label class="button button-small button-positive custom-file-upload">
                        <input class="form-control" name="image" type="file" check-size="5" ng-model="image"
                               on-change-update-name
                               on-change-update-file-model="newTrack.image">
                        <span ng-if="!newTrack.image">Choose image</span>
                        <span ng-if="newTrack.image">{{newTrack.image.name}}</span>
                    </label>
                </label>

                <div class="error-container last-error-container"
                     ng-show="trackForm.submitted && trackForm.image.$error"
                     ng-messages="trackForm.image.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <div class="error-container last-error-container" ng-show="errors.image">
                    <div class="error">
                        <i class="ion-information-circled"></i>
                        {{ errors.image[0] }}
                    </div>
                </div>

            </div>

            <!---- Submit button ----->
            <div class="padding">
                <button type="submit" ng-click="saveTrackForm(newTrack)"
                        class="button button-block button-positive activated">Save
                </button>
            </div>
        </ion-content>


    </form>
</ion-view>