<ion-view view-title="Playlist list">

    <script type="text/ng-template" id="joinPlaylistForm.html" src="joinPlaylistForm.html"></script>
    <!--- List header --->
    <ion-header-bar class="bar-positive">
        <!--- Menu button --->
        <div class="buttons">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
            </button>
        </div>

        <div class="buttons">
            <!--- Add playlist button --->
            <button class="button button-icon icon ion-ios-plus-outline"
                    ui-sref="logged.create-playlist"></button>
        </div>
        <h1 class="title">Playlist list</h1>

    </ion-header-bar>

    <ion-header-bar class="bar bar-subheader item-input-inset">
        <label class="item-input-wrapper textbox-search">
            <i class="icon ion-android-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="searchTitle" ng-change="searchPlaylists(searchTitle)"
                   ng-model-options="{debounce:500}">
        </label>
    </ion-header-bar>

    <ion-content class="has-footer">

        <ion-list can-swipe="true" show-delete="showDelete">

            <ion-item ng-repeat="playlist in playlists">

                <h2>{{playlist.title}}</h2>

                <ion-option-button ng-if="!playlist.is_editor" class="button-balanced"
                                   ng-click="showJoinPopup();assignPlaylistToJoin(playlist)">
                    Join
                </ion-option-button>
                <ion-option-button ng-if="playlist.is_editor" class="button-balanced"
                                   ui-sref="logged.edit-playlist({playlistId: {{playlist.id}} })">
                    Edit
                </ion-option-button>
                <ion-option-button ng-if="playlist.is_admin_editor" class="button-assertive"
                                   ng-click="showConfirmPlaylistDeletion(playlist)">
                    Delete
                </ion-option-button>
            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>