<ion-view view-title="Settings">

    <form method="post" on-change-clear-server-error name="settingsForm" novalidate>

        <!--- Header bar --->
        <ion-nav-bar class="bar bar-header bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>

        <ion-content>

            <!---- Header messages ---->
            <div ng-include="'templates/common/headerMessages.html'"></div>

            <div class="list">

                <!----- Username --->
                <label class="item item-input">
                    <input class="form-control" type="text"
                           disabled ng-model="user.username">
                </label>


                <!----- Old password --->
                <label class="item item-input">
                    <input type="password" name="old_password" ng-model="user.old_password"
                           check-all-passwords-filled-and-match password1="user.new_password1"
                           password2="user.new_password2"
                           placeholder="Old password">
                </label>

                <div class="error-container last-error-container"
                     ng-show="settingsForm.submitted && settingsForm.old_password.$error"
                     ng-messages="settingsForm.old_password.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <div class="error-container last-error-container" ng-show="errors.old_password">
                    <div class="error">
                        <i class="ion-information-circled"></i>
                        {{ errors.old_password[0]}}
                    </div>
                </div>


                <!----- New password --->
                <label class="item item-input">
                    <input type="password" name="new_password1" ng-model="user.new_password1" minlength="6"
                           placeholder="New password" check-all-passwords-filled-and-match
                           password1="user.old_password" password2="user.new_password2">
                </label>

                <div class="error-container last-error-container"
                     ng-show="settingsForm.submitted && settingsForm.new_password1.$error"
                     ng-messages="settingsForm.new_password1.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>


                <!----- Password confirmation --->
                <label class="item item-input">
                    <input type="password" name="new_password2" ng-model="user.new_password2"
                           placeholder="Confirm password" check-all-passwords-filled-and-match
                           password1="user.old_password" password2="user.new_password1"
                           check-with="user.new_password1">
                </label>

                <div class="error-container last-error-container"
                     ng-show="settingsForm.submitted && settingsForm.new_password2.$error"
                     ng-messages="settingsForm.new_password2.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>


                <!----- Email --->
                <label class="item item-input">
                    <input type="text" name="email" ng-model="user.email" required
                           placeholder="Email">
                </label>

                <div class="error-container last-error-container"
                     ng-show="settingsForm.submitted && settingsForm.email.$error"
                     ng-messages="settingsForm.email.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>

                <div class="error-container last-error-container" ng-show="errors.email">
                    <div class="error">
                        <i class="ion-information-circled"></i>
                        {{ errors.email[0] }}
                    </div>
                </div>


                <!----- Submit button --->
                <div class="padding">
                    <button type="submit" ng-click="saveSettingsForm(user)"
                            class="button button-block button-positive activated">Save
                    </button>
                </div>

            </div>
        </ion-content>
    </form>
</ion-view>